* { 
     box-sizing: border-box; 
     margin: 0; 
     padding: 0; 
     font-family: "Montserrat", sans-serif;
   } 
  
   body { 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./fundo-tela_inicial.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   } 
  header{
    align-items: center;
    
}
 .fa-exclamation{
  color: purple;
  font-size: 40px;
  margin-left: 15px;
}

#logo_nexus img{
    width: 18rem;
  
}
   .container { 
     background-color: transparent; 
     padding: 30px 40px; 
     border-radius: 40px; 
    box-shadow: 0 0 10px rgb(0, 0, 0);
     max-width: 450px; 
     width: 100%; 
     backdrop-filter: blur(5px); 
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
 
   } 
  
   h2 { 
     text-align: center; 
     margin-bottom: 25px; 
     color: white; 
     font-weight: 570; 
     font-size: 1.8rem; 
   } 
  #saiba_mais{
    color: white;
    cursor: pointer;
  }
  #saiba_mais:hover{
     text-decoration: underline;
  }
  #mini_container{
    display: flex;
   justify-content: space-between;
  }
   form { 
     display: flex; 
     flex-direction: column; 
     gap: 18px; 
   } 
  
   label { 
     font-weight: 600; 
     color: white; 
     margin-bottom: 6px; 
     display: block; 
   } 
  
   input[type="text"], 
   input[type="email"], 
   input[type="password"], 
   input[type="date"] { 
     padding: 12px 15px; 
     border: 2px solid rgba(255,255,255, .2); 
     border-radius: 40px; 
     transition: border-color 0.3s ease; 
     font-size: 1rem; 
     width: 100%; 
     background-color: transparent; 
     color: white; 
   } 
  
   input[type="text"]::placeholder, 
   input[type="email"]::placeholder, 
   input[type="password"]::placeholder { 
     color: rgb(156, 156, 156); 
   } 
  
   input[type="text"]:focus, 
   input[type="email"]:focus, 
   input[type="password"]:focus, 
   input[type="date"]:focus { 
     border-color:white; 
     outline: none; 
     
   } 
    #aniversario{
     color: white;
  }
   .genders { 
     display: flex; 
     flex-wrap: wrap; 
     gap: 15px;; 
   } 
  
   .genders label { 
     display: flex; 
     align-items: center; 
     gap: 6px; 
     font-weight: 500; 
     cursor: pointer; 
     user-select: none; 
   } 
  
   input[type="checkbox"] { 
     width: 18px; 
     height: 18px; 
     cursor: pointer; 
     accent-color: purple; 
   } 
  #key_explain{
     width:30vw;
    height: auto;
    padding-top: 7px;
    padding-left: 4px;
    background-color: white;
    padding-bottom: 7px;
     margin-left: 70% ; 
    border-radius: 5px;
    margin-top: -5vh; 
  border-style: none;
   animation: fadeIn 0.4 ease forwards;
}
   button { 
     margin-top: 15px; 
     background: transparent; 
     border: none; 
     color: white; 
     padding: 14px; 
     font-size: 1.1rem; 
     font-weight: 700; 
     border-radius: 40px; 
     cursor: pointer; 
     transition: background-color 0.3s ease; 
     box-shadow: 0 6px 12px purple; 
   } 
   #modal_cadastro{
      width: auto;
    height: auto;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 50px ;
    background-color: white;
    padding-bottom: 7px;
     margin-left: 72%;
    border-radius: 5px;
    margin-top: -5vh; 
  border-style: none;
   animation: fadeIn 0.4 ease forwards;
   }
   .fa-times{
    color: rgb(185, 0, 0);
    font-size: 40px;
    margin-left: 15px;
   }
  .message_modal_key{
     font-weight: 450;
    
   
    }   
   button:hover { 
     background-color: purple; 
   } 

   
  footer{
    width: auto;
   margin-top: 3%;

  }
  footer p{
    margin-left: 5%;
  }
   @media (max-width: 480px) { 
     .container { 
       padding: 25px 20px; 
     } 
   }